<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Beer Search</title>
    <link type="text/css" rel="stylesheet" href="styles.css">


    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <header>
      <h1>Beer Lookup</h1>
    </header>

    <div id="content">
      <form id="beer-search" method="get" accept-charset="utf-8">
        <input type="text" class="search" name="q" value="<%= Rack::Utils.escape_html @query %>" placeholder="Search for a beer.">
      </form>

      <% if @error %>
        <div class="error">
          <%= @error %>
        </div>
      <% end %>

      <div id="results">
        <% if @beers && @beers.empty? %>
          <p>Your search returned no results. :(</p>
        <% end %>
        <ul>
        <% @beers.each do |beer| %>
          <li class="beer">
            <% if beer.image_url %>
              <img src='<%= beer.image_url %>'>
            <% else %>
              <span class="noimg"></span>
            <% end %>
            <span class="name"><%= beer.name %></span>
            <span class="description"><%= beer.description %></span>
          </li>
        <% end if @beers %>
        </ul>
      </div>
    </div>
    <footer>Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>.</footer>
  </body>
</html>
